body{
    background-color: gray;
    margin:0;
}
#container {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	text-align:left;
}
#content {background-color: rgb(116, 152, 203);}
#left {
	float:left;
	background-color: rgb(118, 206, 118);
	width:500px;
    padding: 10px;
    
}
#right {
	float:left;
	width:210px;
    padding: 10px;
	background-color: rgb(116, 152, 203);
}
#header {
	background:#cecece;
    height: 50px;
}
#header h1{
    margin: auto;
    padding:6px;
    padding-left: 10px;
} 
#navi{
    background-color: rgb(229, 111, 88);
    padding:10px;
}
#navi a{
    padding:10px;
    margin:0;
}
#footer{
    background:#b8cb85;
}
#footer p{
    padding: 10px;
    margin:0;
}